/* src/components/DataTable/DataTable.css */

body {
  margin: 0;
  padding: 20px;
  background-color: rgb(250, 249, 244);/* Padding around the page */
}

.container {
  max-width: 1200px; /* Limit the width of the container */
  margin: auto; /* Center the container */
  background-color: #ffffff; /* White background for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
}

h1 {
  text-align: center; /* Centered heading */
  color: #333; /* Dark text color */
  margin-bottom: 20px; /* Space below the heading */
}

.data-table {
  width: 100%;
  border-collapse: separate;
  color: dimgrey;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd; /* Light grey borders */
  padding: 12px; /* Padding inside cells */
  text-align: center; /* Align text to the left */
}

.data-table th {
  color: grey; /* White text for header */
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Light grey background for even rows */
}

.data-table tr:hover {
  background-color: #e2e2e2; /* Darker grey on hover */
}

.data-table td .fa-trash,
.data-table td .fa-grip-lines {
  font-size: 18px; /* Adjust the icon size */
  cursor: pointer; /* Pointer cursor on hover */
}

.data-table td label:hover {
  background-color: lightgrey; /* Darker blue on hover */
}

thead tr th:first-child,
tbody tr td:first-child {
  background-color: #f9f9f9;
  width: 7em;
  min-width: 7em;
  max-width: 7em;
  position: sticky;
  left: 0;
  z-index: 5;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  background-color: #f9f9f9;
  width: 25em;
  min-width: 25em;
  max-width: 25em;
  position: sticky;
  left: 8.5em;
  z-index: 5;
}

thead tr th:last-child,
tbody tr td:last-child {
  width: 5em;
  min-width: 5em;
  max-width: 5em;
  right: 0;
  position: sticky;
  z-index: 5;
  background-color: #f9f9f9;
}

thead tr th,
tbody tr td {
  width: 10em;
  min-width: 10em;
  max-width: 10em;
}

/* Responsive styles */
@media (max-width: 600px) {
  .data-table {
    font-size: 14px; /* Smaller font for small screens */
  }

  .data-table th,
  .data-table td {
    padding: 8px; /* Less padding for smaller screens */
  }
}
